@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  max-width:100%;
  margin: 0%;
  padding: 0px;
  border: 0px;
  /* align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
  text-align: justify; */
  overflow: hide;
  background: black;
  }
